.community {

	.community-header {
		background-color: $site-blue;

		.profile-picture {
			width: 150px;
			height: 180px;
			border: 3px solid white;
			display: inline-block;
			float: left;
			background-position: 50% 0%;
			margin: 5px;
		}

		.community-main {
			height: 50px;
			width: 100%;
			background-color: $post-blue;

			.community-name {
				font-size: 24px;
				font-weight: 300;
				float: left;
				line-height: 50px;
				margin-left: 10px;
				color: white;
			}

			.user-actions {
				float: right;
				margin: 5px;

				a {
					width: 24px;
					height: 24px;
					background-size: 100%;
					margin-top: 8px;
				}

				.quit-grp {
					background-image: image-url('quit.png')
				}

				.community-params {
					background-image: image-url('community-params.png');
				}
			}
		}

		.community-infos {
			height: 150px;
			width: 100%;

			.user-list {
				.mini-pic {
					display: inline-block;
					width: 50px;
					height: 50px;
					background-size: 100%;
					margin-top: 5px;
				}
			}

			div {
				margin-left: 10px;
				color: white;
				text-align: left;
			}

			span {
				display: inline-block;
				margin-right: 10px;
				font-weight: 300;
			}

			.attributes {
				margin-top: 20px;

				div {
					display: inline-block;
					margin-right: 30px;
				}
				
			}

			.info-title {
				font-weight: 100;
				font-size: 18px;
				font-family: 'Lato';

			}
		}
	}

	.community-post-form {
		background-color: $site-blue;
		margin-bottom: 20px;

		label {
			display: none;
		}
		form {
			display: block;
			width: 100;
			min-height:70px;

			.content-new {
				margin: auto;
				width: 85%;
				padding-left: 10px;
				float: left;

				textarea { 
					width: 100%;
					height: 33px;
					padding-top: 5px;
					padding-left: 5px;
				}		
			}
		}
	

		.actions {
			float: right;
			margin-top: 0px;
			margin-right: 25px;

		}

	}

	.post-container {
		margin-top: 20px;

		.moderation {
			display: inline-block;
			float: right;
			a {
				display: inline-block;
				height: 40px;
				width: 40px;
				background-repeat: no-repeat;
				background-position: 50% 50%;
			}

			a:hover, a:focus, a:active {
				outline: none;
			}

			.delete-post {
				background-image: image-url('delete.png');
				background-size: 50%
			}
		}
	}

}


