// Left sidebar elements

.left-menu {
	background-color: $site-blue;
	height: 400px;
	float: none;
	margin-bottom: 30px;
	@include box-shadow(#000000 0 0 8px);
}

.left-ranking {
	background-color: $site-blue;
	height: 350px;
	float: none;
	@include box-shadow(#000000 0 0 8px);
}
