.navbar-blue {
	background-color: $site-blue;
	
	.navbar-header {
		margin: auto;
		float: none;
		width: 480px;

		li {
			a {
				color: white;
			}			
		}
		.title {
			font-family: "Lucida Handwriting"
		}
	}

}

.navbar {
	border-radius: 0 0 0 0;
}