.navbar-blue {
	background-color: $site-blue;
	max-height: 50px;
	border: none;
	@include box-shadow(#000000 0 0 8px);

	.navbar-header {
		margin: auto;
		float: none;

		.nav-center {
			text-align: center;
			width: 100%;

			li {
				float: none;
				display: inline-block;
				a {
					color: white;
				}		
			}
			.title {
				font-family: "Lucida Handwriting";

				.navbar-brand {
					float: none;
				}
			}

			.home {
				float: left;
				margin-top: 9px;
				a {
					width: 32px;
					height: 32px;
					display: inline-block;
					background-image: image-url("home.png");
					background-size: 100%;

				}

				a:hover {
					background-color: transparent;
				}
			}

			.user {
				float: right;
				margin-top: 9px;
				a {
					width: 32px;
					height: 32px;
					display: inline-block;
					background-image: image-url("User.png");
					background-size: 100%;
				}

				a:hover {
					background-color: transparent;
				}
			}

			.user-connected {
				float: right;
				margin-top: 5px;
				img {
					width: 40px;
					height: 40px;
					display: inline-block;
				}
			}

			.navbar-nav {
				float: right;
				margin-top: 9px;
				display: inline-block;
			}

			.dropdown {
				float: right;
				.navbar-toggle {
					float: none;
				}
			}

		}
	}

}

.navbar {
	border-radius: 0 0 0 0;
}