<div class="show-post-content">
  <%= @post.content %>
</div>
<div class="post-social">
  <div class="votes">
    <%= link_to 'OUI',  post_vote_path(@post.id, :vote => 1), {remote: true, class: 'upvotes btn' } %>
    <%= link_to 'NON',  post_vote_path(@post.id, :vote => 0), {remote: true, class: 'downvotes btn' } %>
  </div>
  <div class="share">
    <a href="#" class="facebook"></a>
    <a href="#" class="twitter"></a>
    <a href="#" class="google"></a>
    <a href="#" class="favorite"></a>
  </div>
</div>

<div class="post-source">
  Source : <%= @post.source %>
</div>
