// overriding/declaring vars 

$site-blue: rgb(41, 128, 177);
$asphalt: rgb(44, 62, 80);
$content-blue: rgb(30, 100, 140);
$post-blue: rgb(31, 155, 215);
$nephrytis: rgb(39, 174, 96);
$green-sea: rgb(56, 200, 132);
$pomegranate: rgb(222, 52, 60);
$gold: rgb(243, 181, 0);

// mixins 

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
// imports

@import "twitter/bootstrap";
@import "grid-overrides";

// FONTS

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);


// LAYOUT
@import "layout/general-properties";
@import "layout/navbar";
@import "layout/left-col";
@import "layout/center-col";
@import "layout/right-col";

// POSTS
@import "posts/form";
@import "posts/index";
@import "posts/post";

// ADMIN
@import "active_admin/mixins";
@import "active_admin/base";

// USERS
@import "users/user"

