<div class="community">
	<div class="community-post-form">
		<%= render 'posts/fields' %>
	</div>

	<% @blogline.each do |post| %>
			<%= render 'posts/postline', {:post => post } %>
	<% end %>
</div>