.post-container {
	background-color: $site-blue;
	margin-bottom: 10px;
	@include box-shadow(#000000 0 0 8px);
	color: white;
	min-width: 408px;

	.post-header {
		min-height: 40px;

		img {
			float: left;
			margin: 2px;
		}

		.user-text {
			display: inline-block;
			float: left;
			min-width: 150px;
			max-width: 150px;
			margin-left: 10px;

			span {
				display: inline-block;
				text-align: left;

			}

			.user-name {
				display: block;
			}

			.user-title {
				float: left;
			}
		}

		.user-points {
			float: left;
			color: $gold;
			background-image: image-url("trophy.png");
			background-size: 50%;
			background-repeat: no-repeat;
			display: inline-block;
			line-height: 40px;
			margin-left: 20px;
			width: 100px;
		}
	}

	.post-link {
		color: white;
		.post-content {
			padding: 10px 0 10px 0;
			background-color: $post-blue;
			font-weight: 300;
		}
	}

	.post-link:hover, .post-link:focus {
		text-decoration: none;
		outline: none;
	}

	.post-footer {
		min-height: 40px;

	}
}